body {
  font-family: sans-serif;
  background-color: #F5F5F5;
  margin-right: 0rem;
}

#logo {
  width: 360px;
  height: 90px;
  padding-left: 30px;
}

/*----------Home Page Starts------------*/

/*----------Nav Bar Starts------------*/
#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: 2rem;
}

.navbar {
  background-color: #F5F5F5;
}

.navbar-nav li {
  padding: 0 10px;
  font-size: 25px;
  font-weight: bold;
}

.navbar-nav li a{
  float: right;
}

.navbar-toggler {
  outline: none !important;
  font-size: 30px !important;
}

/*-----------Nav Bar Ends-----------*/


/*-----------Slider Starts-----------*/

.carousel-inner {
  padding: 1px 0px 0px 0px;
  width: 80%;
  height: 600px;
  margin: auto;
}

.carousel-img {
  margin: auto;
  width: 80%;
  height: 600px;
}

/*-----------Slider End-------------*/


/*-------Featurettes Start----------*/

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

.featurette-divider {
  margin: 5rem 10rem; 
}

.featurette-heading {
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  letter-spacing: -.05rem;
  padding-left: 160px;
}

.lead-1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-left: 160px;
  padding-right: 160px;
  size: 32;
  font-weight: bold;
}

.lead {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-left: 160px;
  padding-right: 160px;
}

.featurette-image {
  padding-left: 160px;
  padding-right: 160px;
  height: 100%;
  width: 100%;
}

/*----------Featurettes End----------*/

.ending {
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 60px;
  text-align: center;
  font-size: 45px;
  font-family: sans-serif; 
  font-weight: bold;
  margin-bottom: 0px;
}

/*----------Footer Start----------*/
.footer {
  color: #F5F5F5;
  text-align: center;
  font-weight: bold;
  background-color: #DC143C;
  padding: 20px 20px 0px 20px;
  font-size: 20px;
}

#iteml {
  padding-top: 50px;
  padding-left: 80px;
  margin-left: -2rem;
  margin-top: auto;
  margin-bottom: 4.5rem;
}

#footer-logo {
  width: 360px;
  height: 100px;
}

.text-muted {
  color: #000 !important;
}

#itemr {
  padding-top: 25px;
  padding-right: 150px;
}

.footer-email {
  background-color: #DC143C;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: -2rem;
}

/*----------Footer End----------*/

/*----------Mobile--------------*/

@media only screen and (max-width: 1008px) {
  #logo { padding-left: 0px; width: 270px;}
  .carousel-inner { padding: 1px 0px 0px 0px; height: 300px; }
  .carousel-img { width: 80%; height: 300px;  }  
  .lead { text-align: center; padding: 40px 60px 40px 60px;}
  .lead-1 { text-align: center; padding-left: 15px; padding-right: 15px;}
  .featurette-heading { text-align: center; padding: 40px;}
  #iteml { padding-left: 40px; padding-right: 10px;}
  #itemr { padding-right: 5px; padding-left: 100px;}
  #footer-logo { width: 200px; height: 70px;}
  .featurette-divider { margin: 5rem 5rem; }
  .featurette-image { display: block; margin-left: auto; margin-right: auto; padding-top: 40px; padding-bottom: 40px; padding-left: 20px; padding-right: 20px;}
}

@media only screen and (max-width: 720px) {
  .featurette-image { padding-top: 20px; padding-bottom: 20px; padding-left: 40px; padding-right: 40px;}
}

/*----------Home Page Ends----------*/

/*----------NGO Page Starts---------*/

.intro {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  padding: 30px;
}

.ngo {
  margin: 2rem;
  padding: 20px;
  background-color: #DCDCDC;
  text-align: center;
}

#heading {
  font-weight: bold;
}

#even-n {
  padding: 20px;
  background-color: #DCDCDC;
  margin: 0rem !important;
  font-weight: bold;
  text-align: center;
}

#odd-n {
  padding: 20px;
  background-color: white;
  margin: 0rem !important;
  font-weight: bold;
  text-align: center;
}
/*----------NGO Page Ends-----------*/
